.task-list {
    left: 50%;
}

.task-list .list {
    display: inline;
}

.button {
    border-radius: 3px 4px 4px 3px;
    border: 1px solid gray;
    background-color: aquamarine;
    color: lightslategray;
    background-image: none;
    white-space: nowrap;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: normal;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1);
    letter-spacing: 1px;
    padding: 7px 7px 7px 7px;
    margin-left: 5px;
    touch-action: manipulation;
    vertical-align: middle;
    display: inline-block;
    cursor: pointer;
    line-height: 1.42857143;
}

.button.newTaskButton {
    border: 1px solid palevioletred;
    background-color: palevioletred;
    color: greenyellow;
    padding-bottom: 9px;
}

.hr {
    border: none;
    background-color: lightgrey;
    height: 1px;
}

.hr.hr-edit {
    border: none;
    background-color: red;
    height: 2px;
}

.okaySign {
    color: green;
}

.edit-row {
    margin: 10px 0 5px 0;
}

.show-row {
    margin: 10px 0 5px 0;
}